{% extends "layout.html.twig" %}
{% block content %}
<div class="hero-unit">
  <h1>Welcome</h1>
  <p>
    Welcome to the Web Router administration interface. Not a whole lot
    to do here but eventually we'll provide some reports. :)
  </p>
</div>
{% endblock %}
