{% extends "layout.html.twig" %}
{% block content %}


<h2>Login</h2>
<form class="well" action="{{ path('login_check') }}" method="post">
  {{ error }}
  <div class="clearfix">
    <input type="text" name="_username" value="{{ last_username }}" placeholder="Username" />
  </div>
  <div class="clearfix">
    <input type="password" name="_password" value="" placeholder="Password" />
  </div>
  <button class="btn btn-primary" type="submit">Sign in</button>
</form>

{% endblock %}
